/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Gruppo);
@import "bootstrap-sprockets";
@import "bootswatch/paper/variables";

$headings-font-family: 'Gruppo', cursive;

@import "bootstrap";
@import "bootswatch/paper/bootswatch";
@import "devise_bootstrap_views";
@import "fullcalendar";
@import 'bootstrap-datetimepicker';
@import 'select2';
@import 'select2-bootstrap';
@import 'jquery-ui';

.date-container {
  position: relative;
}
label small {
  margin-left: $grid-gutter-width/2;
  opacity: 0.8;
}
h1, h2, h3, h4, h5 {
  small {
    margin-left: $grid-gutter-width;
  }
}
.fc-event {
  &.breakfast { background-color: darken($brand-primary, 0%); }
  &.lunch { background-color: darken($brand-primary, 10%); }
  &.dinner { background-color: darken($brand-primary, 20%); }
  &.snack { background-color: darken($brand-primary, 30%); }
}
.fc-toolbar {
  h2 {
    font-size: 26px;
  }
}
.handwritten {
  font-family: 'Indie Flower', cursive;
}
.navbar-brand {
  font-family: $headings-font-family;
}
.btn {
  font-family: $headings-font-family;
  font-weight: bold;
}
